/* Home Page    */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background:  rgb(131, 139, 134);
    color: rgb(12, 12, 12);
  }

.categories, 
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    max-height: min-content;
}
h1 h2 h3 p{
    margin: 0;
    padding: 0.5em 0;
}

.navbar{
    background-color: #181927;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 90px;
    border-radius: 50%;
}

.logo-container {
    margin-right: auto;
    padding-left: 1em;
}

.nav-links{
    list-style: none;
    display: flex;
    margin: 0;
    padding-right: 1em;
}

.nav-links li{
    padding-left: 1em;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: #007DFF;
}

.hero {
    background-color: #f85539;
    color: #fff;
    padding: 4em 0;
    text-align: center;
    position: relative;
}

.hero h2{
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.hero p{
    font-size: 1.1em;
    margin-bottom: 1.5em;
}



.cta-button{
    padding: 0.75em 1.5em;
    font-size: 1em;
    background-color: #007DFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.cta-button:hover{
    background-color: #0360c4;
}

.categories, 
.featured-products{
    padding: 2em 0;
    text-align: center;
}

.categories h2,
.featured-products h2{
    font-size: 2em;
    margin-bottom: 1em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5em;
}

.category,
.product{
    /* background-color: #fff; */
    background: linear-gradient(rgb(207, 69, 166), pink);
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1em;
}

.category img,
.product img{
    width: 100%;
    height: 80%;
    border-radius: 8px;
    margin-top: 1em;
    
}

.category h3,{
    margin: 5px;
    font-size: 1em;
}
.product h3{
    margin: 5px;
    font-size: 1em;
}

.product p{
    font-size: 1em;
    color: #f85539;
}

.product-features {
    text-align: center;
    padding: 2em;
    background-color: lightgreen;
    
}
legend h3{
    text-align: center;
}
table{
    width: 90%;
    margin-bottom: 2em;
    margin-left: 2em;
}

.comprison-table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 2px;
    text-align: center;
}

table th{
    background-color: #f85539;
}
.comparison-table{
    text-align: center;
    justify-content: center;
}

.testimonials{
    background-color: #7e6161;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

.testimonials h2{
    margin-bottom: 1em;
    font-size: 2em;
}

.testimonial{
    background-color: #555555;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1em;
}

.testimonial p{
    font-size: 1em;
    font-style: italic;
}

.testimonial h3{
    font-size: 1em;
    margin-top: 1em;
    color: #f85539;
}

.footer {
    background-color: #333;
    color: #fefefe;
    text-align: center;
    padding: 1em 0;
}
  
.footer p {
    margin: 0;
}

/* Media queries for better responsiveness */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar{
        flex-wrap: wrap;
        padding: 0.5em;
        justify-content: center;
        text-align: center;
    }

    .logo-container{
        margin: 0;
        padding: 0.5em;
        text-align: center;
    }

    .nav-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 1em;
    }

    .nav-links li{
        margin: 0.5em;
    }

    .nav-links a{
        margin: 0.5em;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
  }



/* ------------------------------------------------- */
/*          Sign-In Sign-Up Form  Style  */
/* ------------------------------------------------- */


.form-body {
    background-color: #bacde0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.form {
    display: none;
}

h2{
    margin: 1em;
    padding-top: 1em;
}

#signInButton:checked ~ .signIn-form,
#signUpButton:checked ~ .signUp-form {
    display: block;
    background-color: white;
    border: 2px solid none;
    border-radius: 10px;
    width: 60%;
    text-align: center;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 90%;
    padding: 1em;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1em;
    box-sizing: border-box;
}

button[type="submit"]{
    width: 90%;
    padding: 1em;
    margin: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1em;
    background-color: #007DFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0360c4;
}

.form-label{
    cursor: pointer;
    padding: 1em;
    display: inline-block;
    margin: 0.5em;
    transition: background-color 0.3s ease;
    color: #007DFF;
}

.form-label:hover{
    color: #0360c4;
    text-decoration: underline;
}

.form-text{
    margin: 1em;
    padding: 0.2em;
    display: inline-block;
}

.form-container{
    width: 100%;
    max-width: 600px;
    text-align: center;
    background-color: #bacde0;

}

@media(max-width: 776px){

}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flash{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 0;
    }
}
@keyframes zoom{
    from{
        width:90%;
        /* height:98%; */
    }
    to{
        width: 90%;
        /* height: 100%; */
    }
}

.container h2, p:first-of-type{
    animation: flash 2s forwards;
}

.category, .product{
    overflow: hidden;
    animation: fadeIn 2s ;
}
.product:hover, .category:hover{
    animation: zoom 0.08s forwards;
}

.offer-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    font-size: 0.9em !important;
    border: 1px solid 0;
    border-radius: 5px;
    padding: 0.3em !important;
    background-color: darkorchid;
    animation: blink 1s ease-in-out infinite;
}



/* ----------------------------------------------- */
/*            Style for Product Page */
/* ----------------------------------------------- */


.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    height: 100%;
    
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #070505;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Vertical alignment */
    height: 100%;
}

.card-title {
    font-weight: bold;
    color: #333;
    font-size: 1.2rem;
}

.card-text {
    color: #666;
}

.btn {
    /* Utilizing Bootstrap utility classes */
    margin-top: auto; /* Align button to bottom of card body */
}

h1 {
    text-align: center;
    margin-top: 40px;
}



/* --------------------------------------------- */
/*            Shopping Cart Page Style*/
/* --------------------------------------------- */

.cart-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(18, 9, 69, 0.616);
}

.card-title{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

.cart-item-container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    /* border: 1px solid red; */
    
  }
  
  .cart-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: calc(25% - 15px); 
  }
  
  .cart-item img {
    max-width: 100%;
    border-radius: 8px;
    height: 12em;
  }
  
  .cart-item-details {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0px;
  }
  
  .cart-item-title {
    font-weight: bold;
    color: #333;
    text-align: center;
    min-height: 1em; /* Fixed height for title */
  }
  
  .cart-item-price {
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 2px;
    min-height: 2em; /* Fixed height for price */
  }
  
  .cart-item-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  
  .quantity-input {
    width: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9rem;
    padding: 5px;
    margin-left: 10px;

  }
  
  .remove-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    margin-right: 10px;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .cart-checkout-button {
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  
  #cart-total {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  /* Responsive styles */
  @media (max-width: 1024px) {
    .cart-item {
       width: calc(33.33% - 20px); /*Three items per row on medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .cart-item {
      width: calc(50% - 20px); /* Two items per row on small screens */
    }
  }
  
  @media (max-width: 480px) {
    .cart-item {
      width: 100%; /* One item per row on very small screens */
    }
  }